{% extends "layouts/base.html" %}

{% block title %}Your Reminders{% endblock %}

{% block content %}

	{# Reminder button #}
	<div class="btn-container">

		<button class="btn add-btn">

			<div class="trigger" data-triggerId="reminder-modal"></div>

			<span>Add Reminder</span>

			{% load static %}
			<img src="{% static 'assets/images/reminder-white.png' %}"
				class="plus"
				height="21"
				alt="Add a new reminder"
				title="Add a new reminder">

		</button>

	</div>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}

			<li{% if message.tags %} class="message {{ message.tags }}" {% endif %}>
				{{ message }}
			</li>

			{% endfor %}
		</ul>
	{% endif %}

	{# Reminder modal #}
	{% include "includes/reminder-modal.html" %}

	{% if reminder_list %}
		<ul class="reminder-list">
			{% for reminder in reminder_list %}

				<li class="reminder-item">
					<span class="trip-from">{{ reminder.trip.from_text }}</span>
					<span>to</span>
					<span class="trip-to">{{ reminder.trip.to_text }}</span>
					<span class="reminder-time">{{ reminder.reminder_time }}</span>
				</li>

			{% endfor %}
		</ul>
	{% else %}
		<div class="no-reminders">

			<div class="no-reminders-text">
				You Have No Reminders
			</div>

			{% load static %}
			<img src="{% static 'assets/images/bell.png' %}"
				class="no-reminders-icon"
				title="You have no reminders"
				alt="You have no reminders">

		</div>

	{% endif %}

{% endblock %}