{% extends "layouts/base.html" %}

{% block title %}
	Your Trips
{% endblock %}

{% block content %}

	<div class="trip-header">Add a new trip</div>

	{% if messages %}
		<ul class="messages">
			{% for message in messages %}

			<li{% if message.tags %} class="message {{ message.tags }}" {% endif %}>
				{{ message }}
			</li>

			{% endfor %}
		</ul>
	{% endif %}

	{# Trip Form #}
	<form id="trip-form" action="{% url 'create_trip' %}" method="POST" class="input-container">

		{% csrf_token %}

		<div class="modal-input-centered">

			{# Trip departure location #}
			<label for="from" class="hidden">From</label>
			<input type="text" id="from" name="from" placeholder="From" class="modal-input modal-input-from" list="location-list" autocomplete="off" required autofocus>

			{# Trip destination location #}
			<label for="to" class="hidden">Address</label>
			<input type="text" id="to" name="to" placeholder="To" class="modal-input modal-input-to" list="location-list" required>

		</div>

		<div class="btn-container">
			<input type="submit" class="btn btn-save" value="Save">
		</div>

	</form>

	{% if location_list %}

		{# Location data for form autocomplete #}
		<datalist id="location-list">
			{% for location in location_list %}
				<option class="dl-option" value="{{ location.alias }}">
			{% endfor %}
		</datalist>

		{% if trip_list %}
			<ul class="trip-list">
				{% for trip in trip_list %}
					<li class="trip-item">

						<span class="trip-from">{{ trip.from_text }}</span>
						<span class="trip-to">To {{ trip.to_text }}</span>

						{# Delete button #}
						<form action="{% url 'delete_trip' trip.id %}" method="POST">

							{% csrf_token %}
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_id" value="{{ trip.id }}">

							{% load static %}
							<input type="image"
								class="icon delete-icon"
								src="{% static 'assets/images/delete.png' %}"
								title="Delete this trip"
								alt="Delete this trip">

						</form>

					</li>
				{% endfor %}
			</ul>

		{% else %}
			<div class="no-trips">

				<div class="no-trips-text">
					You have no Trips
				</div>

				{% load static %}
				<img src="{% static 'assets/images/trip.svg' %}"
					class="no-trips-icon"
					title="You have no trips"
					alt="You have no trips">

			</div>

		{% endif %}

	{% else %}
		<div class="no-locations">

			<div class="no-locations-header">
				 You haven't added any locations yet
			</div>

			{% load static %}
			<img class="location-icon-lg" src="{% static 'assets/images/globe.png' %}" title="No Locations" alt="No Locations">

		</div>

	{% endif %}

{% endblock %}